/* Here is where the header styles start*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Staatliches&display=swap');

header {
    margin: 0;
    border-bottom: 2px solid black;

    h1 {
    font-size: xx-large;
    margin: 0;
    padding: .5em 0;
    color: black;
    font-family: $titlefont;
    }
}

nav{
    ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    
        li {
        padding-bottom: 0.5em;
        }
    }
}